.about__container{
    grid-template-columns:  3fr 9fr;
    column-gap: 1.875rem;

}

.about__data{
    padding: 1.875rem;
    background-color: var(--container-color);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius-30);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;
    align-items: flex-start;
    position: relative;

}

.about__data::before{
    content: ' ';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid var(--container-color);
    position: absolute;
    left: -0.93rem;
    top: 20%;

}

.about__description{
    margin-bottom: 1rem;
    text-align: justify;
}

.about__skills{
    row-gap: 3.25rem;
    margin-top: 1.5rem;
}

.skills__titles{
    display: grid;
    grid-template-columns: 8fr 1fr;
}

.skills__name{
    font-size: var(--medium-font-size);
    font-weight: var(--font-bold);
}

.skills__number{
    line-height: 1.2;
    font-weight: var(--font-medium);

}

.skills__bar,
.skills__percentage{
    height: 7px;
    border-radius: 0.25rem;
}

.skills__bar{
    background-color: #f1f1f1;
}

.skills__percentage{
    display: block;
    
}

.development{
    width: 75%;
    font-weight: var(--font-medium);
    background-color: var(--first-color);

}

.ui-ux{
    width: 70%;
    font-weight: var(--font-medium);
    background-color: var(--title-color);
}

.ach{
    background-color: var(--hover-color);
}

.about__boxes{
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.875rem;
    margin-top: 4.35rem;
    margin-left: 5.875rem
}

.about__box{
    display: flex;
    column-gap: 1.5rem;
}

.about__icon{
    font-size: var(--h1-font-size);
    color: var(--first-color)
    
}

.about__title{
    font-size: 1.875rem;
}

@media screen  and (max-width: 1024px){
    .about__img{
        justify-content: center;
    }
 }